.body-container{
    width:100%;
    height:80vh;
    
    border-bottom:0.2rem solid rgb(184, 235, 184);
    display:flex;


    .left-body{
    width:20%;
     height:100%;

    border-right:1px solid rgb(200, 230, 200);
    padding-top:0.5rem;

      h2{
          text-align: center;
          margin-top: 0.5rem;
          font-size:1.6rem;

      }
    }

    .right-body{
       width:80%;
       height:100%;
      
      

     .text-messages{
   width:100%;
   height:85%;
   padding: 5% 0;
    overflow:auto;
    flex: auto;
  
         }
       .input-box{
         
         
           width:100%;
           height:15%;
        
           background-color: rgb(203, 243, 208);
       }
    }
}


.active-people{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;

    .img {
          
        border-radius: 50%;
        background-color:rgb(82, 236, 82);
        width:0.8rem;
        height:0.8rem;
    }
    p{
        margin-left:0.4rem;
        font-size:1.6rem;
        color:blue;
    }
}



.input-box{

   
   padding:2rem 0.6rem;

   .input{
       outline:none;
         height:5rem;
         width:85%;
         border:2px solid rgb(173, 173, 235);
         font-size:2rem;
         


         &:hover{
             border:2px solid rgb(130, 130, 218);
         }
   }

   .sendButton{
       height:5rem;
       width:15%;
       font-size:2rem;
       background-color: rgb(177, 177, 209);
       color:white;
       outline:none;
       border:1px solid rgb(173, 173, 235);
       cursor:pointer;

       &:hover{
          
           background-color: rgb(77, 77, 219);
       }
   }
}



#micro-phone{
   color:rgb(245, 84, 84);
   font-size:3.4rem;
   position:relative;
   right:3.6rem;
   width:0;
   top:0.8rem;
   cursor:pointer;
}

#map{
    color:rgb(98, 214, 44);
    font-size:3.4rem;
    position:relative;
    right:8.4rem;
    width:0;
    top:0.8rem;
    cursor:pointer;
}